.tile {
  border-radius: $tile-border-radius;

  background: $tile-color;
  text-align: center;
  font-weight: bold;
  z-index: 10;

  font-size: 55px;

  @include transition($transition-speed ease-in-out);
  @include transition-property(top, left);

  // Two Emojis
  &.tile-🏢🏢 {
    font-size: 25px;
    @include smaller(480px) {
      font-size: 15px;
    }
  }
  &.tile-🚀👩🏻‍🚀 {
    font-size: 25px;
    @include smaller(480px) {
      font-size: 15px;
    }
  }
  &.tile-🌑👩🏻‍🚀 {
    font-size: 25px;
    @include smaller(480px) {
      font-size: 15px;
    }
  }
  &.tile-🌎👩🏻‍🚀 {
    font-size: 25px;
    @include smaller(480px) {
      font-size: 15px;
    }
  }
  &.tile-👩🏻🥳 {
    font-size: 25px;
    @include smaller(480px) {
      font-size: 15px;
    }
  }
  &.tile-🏃🏻‍♂️💨 {
    font-size: 25px;
    @include smaller(480px) {
      font-size: 15px;
    }
  }
  &.tile-🤰🏻😢 {
    font-size: 25px;
    @include smaller(480px) {
      font-size: 15px;
    }
  }
  &.tile-👩🏻👦🏻 {
    font-size: 25px;
    @include smaller(480px) {
      font-size: 15px;
    }
  }
  &.tile-👋🏻👦🏻 {
    font-size: 25px;
    @include smaller(480px) {
      font-size: 15px;
    }
  }
  &.tile-👩🏻😲 {
    font-size: 25px;
    @include smaller(480px) {
      font-size: 15px;
    }
  }
  &.tile-👦🏻🤕 {
    font-size: 25px;
    @include smaller(480px) {
      font-size: 15px;
    }
  }
  &.tile-👨🏻‍⚕️😞 {
    font-size: 25px;
    @include smaller(480px) {
      font-size: 15px;
    }
  }
  &.tile-👩🏻😭 {
    font-size: 25px;
    @include smaller(480px) {
      font-size: 15px;
    }
  }
  &.tile-👦🏻⚰ {
    font-size: 25px;
    @include smaller(480px) {
      font-size: 15px;
    }
  }
  &.tile-👩🏻🤧 {
    font-size: 25px;
    @include smaller(480px) {
      font-size: 15px;
    }
  }
  &.tile-🐕❤ {
    font-size: 25px;
    @include smaller(480px) {
      font-size: 15px;
    }
  }
  &.tile-👩🏻⌛ {
    font-size: 25px;
    @include smaller(480px) {
      font-size: 15px;
    }
  }
  &.tile-👩🏻🙏🏻 {
    font-size: 25px;
    @include smaller(480px) {
      font-size: 15px;
    }
  }
  &.tile-👩🏻😲​ {
    font-size: 25px;
    @include smaller(480px) {
      font-size: 15px;
    }
  }
  // 
  &.tile-👩🏻🐕 {
    font-size: 25px;
    @include smaller(480px) {
      font-size: 15px;
    }
  }
  &.tile-👩🏻🐕​ {
    font-size: 25px;
    @include smaller(480px) {
      font-size: 15px;
    }
  }
  &.tile-👩🏻🐕​​ {
    font-size: 25px;
    @include smaller(480px) {
      font-size: 15px;
    }
  }
  &.tile-👩🏻🐕​​​ {
    font-size: 25px;
    @include smaller(480px) {
      font-size: 15px;
    }
  }
  &.tile-👩🏻🐕​​​​ {
    font-size: 25px;
    @include smaller(480px) {
      font-size: 15px;
    }
  }
  &.tile-👩🏻🦀 {
    font-size: 25px;
    @include smaller(480px) {
      font-size: 15px;
    }
  }

  // Single Emojis
  &.tile-💥 {
    background-color: #e22b96;
  }
  &.tile-💿 {
    background-color: #cfc0ce;
  }
  &.tile-📀 {
    background-color: #c9c289;
  }
  &.tile-🐒 {
    background-color: #47352e;
  }
  
  &.tile-127dot9375 {
    background-color: #cf91a4;
    font-size: 25px;
    @include smaller(480px) {
      font-size: 15px;
    }
  }
  &.tile-255dot875 {
    background-color: #ad5570;
    color: #cacaca;
    @include smaller(480px) {
      font-size: 15px;
    }
  }
  &.tile-511dot75 {
    background-color: #911f41;
    color: #cacaca;
    @include smaller(480px) {
      font-size: 15px;
    }
  }
  &.tile-1023dot5 {
    background-color: #700a28;
    color: #cacaca;
    @include smaller(480px) {
      font-size: 15px;
    }
  }

  // Small text
  &.text-3 {
    font-size: 35px;
    @include smaller(480px) {
      font-size: 20px;
    }
  }
  &.text-5 {
    font-size: 25px;
    @include smaller(480px) {
      font-size: 14px;
    }
  }
  &.text-8 {
    font-size: 16px;
    @include smaller(480px) {
      font-size: 10px;
    }
  }
  &.text-12 {
    font-size: 12px;
    @include smaller(480px) {
      font-size: 8px;
    }
  }
  &.text-15 {
    font-size: 10px;
    @include smaller(480px) {
      font-size: 6px;
    }
  }
  &.text-20 {
    font-size: 8px;
    @include smaller(480px) {
      font-size: 4px;
    }
  }

  $value: 1;
  $limit: 4000;

  // Build tile colors
  @while $value <=$limit {
    &.tile-#{$value} {
      // Calculate base background color
      $gold-percent: ($value - 1) / ($limit - 1) * 100;
      $mixed-background: mix($tile-gold-color, $tile-color, $gold-percent);

      
      // Set background
      background: $mixed-background;
      
      @if $value == 4 {
        background: #d694eb;
      }
      
      @if $value == 8 {
        background: #b366ca;
      }
      // Add glow
      $glow-opacity: max($value - 4, 0) / ($limit - 4);

      @if true {
        box-shadow: 0 0 30px 10px rgba($tile-gold-glow-color, $glow-opacity / 1.8),
          inset 0 0 0 1px rgba(white, $glow-opacity / 3);
      }

      // Adjust font size for bigger numbers
      @if $value>=100 and $value < 1000 {
        font-size: 45px;

        // Media queries placed here to avoid carrying over the rest of the logic
        @include smaller(480px) {
          font-size: 25px;
        }
      }

      @else if $value>=1000 {
        font-size: 35px;

        @include smaller(480px) {
          font-size: 15px;
        }
      }
    }

    $value: $value+1;
  }
}

.tile-new {
  @include animation(appear 200ms ease $transition-speed);
  @include animation-fill-mode(both);
}

.tile-merged {
  z-index: 20;
  @include animation(pop 200ms ease $transition-speed);
  @include animation-fill-mode(both);
}