$field-width: 500px;
$grid-spacing: 15px;
$grid-row-cells: 4;
$tile-size: ($field-width - $grid-spacing * ($grid-row-cells + 1)) / $grid-row-cells;
$tile-border-radius: 3px;

$text-color: #736577;
$bright-text-color: #f9f2f9;

$tile-color: #e9daee;
$tile-gold-color: #d72eed;
$tile-gold-glow-color: lighten($tile-gold-color, 15%);

$game-container-background: #bba0bb;

$transition-speed: 100ms;